<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-100">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placement Authorisation Request - Company | PMS</title>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
</head>
<body>
<div class="min-h-full">
    <!-- Nav Bar Fragment -->
    <div th:replace="fragments :: navEmpty"></div>

    <header class="bg-white shadow">
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-bold tracking-tight text-gray-900">Placement Authorisation Request -
                Confirmation</h1>
        </div>
    </header>

    <main>
        <div class="mx-auto max-w-7xl px-4 py-10 sm:px-6 lg:px-8">
            <!-- Content -->
            <div class="space-y-6">
                <!-- Confirmation Message -->
                <div class="flex flex-col items-center justify-center text-center">
                    <!-- Confirm Icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="h-24 w-24 text-teal-600">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                    </svg>
                    <h2 class="text-lg font-semibold text-gray-800 mt-4">Your response has been processed
                        successfully!</h2>
                    <p class="text-sm text-gray-600 mt-2">You can now close this page.</p>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>